*{margin: 0;padding: 0;width: auto;}
.container{width: auto;margin-top: 30px;}
.row{overflow-x: auto;margin-top: 10px;}
.row table{overflow-x: auto;margin-top: 10px;}
.row-row-col-8{margin:20px;}
.col-col-md-2{float: left;margin-left: 600px;background: blue;border: none;border-radius: 5px;height: 50px;font-size: 14px;color: white;width: 150px;}
.col-col-md{width: 300px;float: left;}
.footer{float: left;width: auto;}
.float-end input{width: 200px;}
.table{
	border: 1px dotted; black;
}
table tr td{
	border: 1px dotted; black;
}
table tr th{
	border: 1px dotted; black;
}